/* Flexbox en CSS */

/* 
    https://dev-to-uploads.s3.amazonaws.com/i/gv3jyh4xt4fbwtq1qejn.png

    https://3.bp.blogspot.com/-WSU9FMQV6mg/We_w7iHuXdI/AAAAAAAAnkk/t9Pji-habf8hwTu4MDtYshPkmrD-FG89gCLcBGAs/s1600/flex-direction%2B%25281%2529.png

    https://www.w3.org/TR/2012/WD-css3-flexbox-20120612/images/flex-direction-terms.svg

*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: papayawhip;
}

h1 {
    background-color: teal;
    text-align: center;
    color: white;
    padding: 1.5rem;
}





/* Siempre que se quiera trabajar con FLEBOX se debe tener un contenedor  */


.container {
    width: 800px;
    height: 600px;
    outline: 2px solid tomato;
    margin: 20px auto;

    /* Con esto activamos FLEXBOX */
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;




    gap: 20px;

    /* row-gap column gap */

    /* gap: 40px 20px;  */

    /* row-gap: 10px; */
    
    /* column-gap: 20px; */


}


.item {
    width: 320px;
    height: 200px;
    background: darkcyan;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 100px;    

}


.item-2{
    background: violet;
}

.item-3{
    background: brown;
}


.item-4{
    background: slateblue;
    /* font-size: 2.5rem; */
}
